<template>
    <div>
        <h3>
            Olá {{name}}, juntando {{value}} todo mês, você terá R$ {{result}} em {{payments}} anos
        </h3>
        <b-col offset-lg="2" sm="12" md="12" lg="8" xl="8">
            <b-button block v-on:click="simulate" class="bt">Simular Novamente</b-button>
        </b-col>
    </div>
</template>

<script>
    export default {
        name: 'Result',
        data () {
            return {
                name: this.$route.params.name,
                value: this.$route.params.value,
                result: this.$route.params.result,
                payments: this.$route.params.payments
            }
        },
        methods: {
            simulate() {
                this.$router.push('Simulate')
            }
        }
    }
</script>

<style lang="scss">
    .bt {
        background-color: #17a2b8;
        border-color: #17a2b8;
        margin-top: 50px;
        font-family: 'Open Sans', sans-serif;
    }
</style>