<template>
    <div>
        <h1>Simulador</h1>
        <b-form id="simulaForm" novalidate>
            <b-form-group label="Nome" label-for="nome">
                <b-form-input id="nome" type="text" :state="nameState" v-model="name" required>
                </b-form-input>
                <b-form-invalid-feedback id="inputNomeFeedback">
                    Faltou preencher o nome!
                </b-form-invalid-feedback>
            </b-form-group>
            <b-form-group label="Mensalidade" label-for="mensalidade">
                <b-form-input id="mensalidade" format="format" type="number" :state="valueState" v-model="value" required>
                </b-form-input>
                <b-form-invalid-feedback>
                    Faltou preencher a Mensalidade!
                </b-form-invalid-feedback>
            </b-form-group>
            <b-form-group label="Tempo" label-for="tempo">
                <b-form-select v-model="payments" :options="options" :state="paymentsState" class="mb-3" />
                <b-form-invalid-feedback>
                    Faltou preencher o Tempo!
                </b-form-invalid-feedback>
            </b-form-group>
            <b-col offset-lg="2" sm="12" md="12" lg="8" xl="8">
                <b-button block v-on:click="calculate" class="bt">Simular</b-button>
            </b-col>
        </b-form>
    </div>
</template>

<script>

    import { calculation } from '../services/simulate'

    export default {
        name: 'Simulate',
        computed: {
            nameState () {
                if(this.isSubmitted)
                    return this.name.length > 2;
                else
                    return true;
            },
            valueState () {
                if(this.isSubmitted)
                    return this.value > 0;
                else
                    return true;
            },
            paymentsState () {
                if(this.isSubmitted)
                    return this.payments > 0;
                else
                    return true;
            }

        },
        data () {
            return {
                name: '',
                isSubmitted: false,
                value: null,
                payments: null,
                taxa: 0.00517,
                options: [
                    { value: '1', text: '1 ano' },
                    { value: '2', text: '2 anos' },
                    { value: '3', text: '3 anos' },
                    { value: '4', text: '4 anos' },
                    { value: '5', text: '5 anos' },
                    { value: '6', text: '6 anos' },
                    { value: '7', text: '7 anos' },
                    { value: '8', text: '8 anos' },
                    { value: '9', text: '9 anos' },
                    { value: '10', text: '10 anos' },
                ]
            }
        },
        methods: {
            calculate () {
                this.isSubmitted = true;
                if (this.nameState && this.valueState && this.paymentsState) {
                    const expr = {
                        expr: `${this.value} * (((1 + ${this.taxa}) ^ ${this.payments * 12} - 1) / ${this.taxa})`
                    };
                    calculation(expr)
                        .then((value) => {
                            this.$router.push({name: 'Result',
                                params: {
                                    name: this.name,
                                    payments: this.payments,
                                    value: this.value,
                                    result: Number.parseFloat(value.data.result).toFixed(2)
                                }
                            });
                        })
                        .catch((error) => {
                            alert(error)
                        })
                }
            }
        }
    }
</script>

<style lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

    #app {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        margin-top: 60px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #simulaForm {
        font-family: 'Open Sans' ,sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 50px;
    }

    h1 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }

    .bt {
        background-color: #17a2b8;
        border-color: #17a2b8;
        margin-top: 50px;
        font-family: 'Open Sans', sans-serif;
    }

    .is-valid{
        border-color: #ced4da!important;
    }

</style>
