<template>
  <b-container fluid class="ciclic">
    <b-navbar type="dark" variant="info">
      <b-navbar-brand href="#" class="title">CiCliC</b-navbar-brand>
    </b-navbar>
    <b-row>
      <b-col offset-lg="3" xs="12" lg="6">
        <div id="app">
          <router-view/>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
    export default {
        name: 'app',
        data () {
            return {

            }
        }
    }
</script>

<style lang="scss">

  @import url('https://fonts.googleapis.com/css?family=Nunito:900');

  .ciclic {
    padding-left: 0;
    padding-right: 0;
  }

  .title {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
  }

</style>